* {
  box-sizing: border-box;
}

:focus {
  border: 1px solid white;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, yellow, darkorange);
  padding: 0;
  margin: 0;
}

input {
 height: 50px;
 width: 200px;
 background-color: orange;
}

.search-container {
 position: absolute;
 left: 45%;
 top: 50%;
 background-image: linear-gradient(135deg, yellow, darkorange);
 background-repeat: no-repeat;
}

ul {
  list-style: none;
  visibility: hidden;
  width: 200px;
}
ul.has-suggestions {
  visibility: visible;
}
ul li {
  height: 40px;
  text-align: left;
  width: 199px;
  background-color: orange;
  position: relative;
  right: 40px;
}
ul li:hover {
  background-color: orangered;
}
